body {
    background: #EAEAEA;
}

.user-details {
    position: relative;
    padding: 0;
}

.img-circle-style {
    width: 20;
    height: 20;
}

.user-details .user-image {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.user-image img {
    clear: both;
    margin: auto;
    position: relative;
}

.user-details .user-info-block {
    width: 100%;
    position: absolute;
    top: 55px;
    background: rgb(255, 255, 255);
    z-index: 0;
    padding-top: 35px;
}

.user-info-block .user-heading {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
}

.user-info-block .navigation {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #428BCA;
    border-top: 1px solid #428BCA;
}